{
	debug
}

:8081 {
	route {
		handle_path /assets/* {
			root * /assets
			file_server
		}

		# alternative implementation that uses a regex instead of having two
		# separate handle functions for index.html
		# @index {
		#     path_regexp ^(/|/index\.html)$
		# }
		# handle @index {
		#     rewrite * /assets/index.html
		#     file_server
		# }

		handle /index.html {
			root * /assets
			file_server
		}

		handle / {
			root * /assets
			file_server
		}

		handle {
			reverse_proxy 127.0.0.1:8080
		}
	}

	encode {
		gzip
		match {
			header Content-Type *
		}
	}

	# Cache control headers

	@cacheControl {
		# don't cache png images or json responses
		header_regexp Content-Type (image|audio|video|font|css|javascript|json|html)/
		# header_regexp Content-Type (audio|video|font|css|javascript|html)/
	}

	header @cacheControl Cache-Control "public, max-age=604800, immutable"

	# Other recommended security headers
	# header {
	#     Strict-Transport-Security "max-age=63072000; includeSubdomains; preload"
	#     X-Content-Type-Options "nosniff"
	#     X-Frame-Options "SAMEORIGIN"
	#     X-XSS-Protection "1; mode=block"
	#     Content-Security-Policy "default-src 'self' 'unsafe-inline' 'unsafe-eval'; img-src 'self' data: blob:; object-src 'none'; upgrade-insecure-requests"
	#     # Content-Security-Policy "default-src 'self' 'unsafe-inline' 'unsafe-eval'; img-src 'self' data:; object-src 'none'; upgrade-insecure-requests"
	#     # Content-Security-Policy "default-src 'self' 'unsafe-inline' 'unsafe-eval'; object-src 'none'; upgrade-insecure-requests"
	#     Referrer-Policy "strict-origin-when-cross-origin"
	#     # Feature-Policy "accelerometer 'none'; ambient-light-sensor 'none'; autoplay 'none'; battery 'none'; camera 'none'; display-capture 'none'; document-domain 'none'; encrypted-media 'none'; execution-while-not-rendered 'none'; execution-while-out-of-viewport 'none'; fullscreen 'self'; geolocation 'none'; gyroscope 'none'; layout-animations 'none'; legacy-image-formats 'none'; magnetometer 'none'; microphone 'none'; midi 'none'; navigation-override 'none'; oversized-images 'none'; payment 'none'; picture-in-picture 'none'; publickey-credentials-get 'none'; sync-xhr 'none'; usb 'none'; vr 'none'; wake-lock 'none'; screen-wake-lock 'none'; web-share 'none'; xr-spatial-tracking 'none'"
	# }
}
